{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Recuperar Palavra-passe" %} | Protege+</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body class="view-autenticacao">
    <div class="wrapper-split">
        <main class="ala-principal-direita">
            <header class="header-navegacao-login">
                <a href="{% url 'home' %}" class="logotipo-superior">
                    <div class="emblema-marca">🛡️</div>
                    <span class="nome-marca-estilizado">Protege+</span>
                </a>
                <a href="{% url 'account_login' %}" class="btn-exit-login"><span>←</span> {% trans "Voltar" %}</a>
            </header>
            <div class="modulo-login">
                <h2 class="cabecalho-form">{% trans "Recuperar Acesso" %}</h2>
                <p style="color: white; margin-bottom: 25px; text-align: center; font-style: italic;">
                    {% trans "Insere o teu email para receberes o link de recuperação." %}
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="agrupamento-input">
                        <label class="etiqueta-input">{% trans "O teu Email" %}</label>
                        <input type="email" name="email" placeholder="exemplo@escola.pt" class="caixa-texto-protege" required autofocus>
                    </div>
                    {% if form.errors %}<div class="notificacao-erro">Email inválido.</div>{% endif %}
                    <button type="submit" class="botao-acao-principal">{% trans "Enviar Link" %} ✉️</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>