{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Email Enviado" %} | Protege+</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body class="view-autenticacao">
    <div class="wrapper-split">
        <main class="ala-principal-direita">
            <div class="modulo-login" style="text-align: center;">
                <h2 class="cabecalho-form">{% trans "Verifica o teu Email" %}</h2>
                <p style="color: white; margin-bottom: 25px; line-height: 1.5;">
                    {% trans "Enviámos as instruções para redefinires a tua palavra-passe. Se não as vires, verifica o Spam." %}
                </p>
                <a href="{% url 'account_login' %}" class="botao-acao-principal" style="text-decoration: none; display: block;">{% trans "Voltar ao Login" %}</a>
            </div>
        </main>
    </div>
</body>
</html>