{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Sucesso" %} | Protege+</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body class="view-autenticacao">
    <div class="wrapper-split">
        <main class="ala-principal-direita">
            <div class="modulo-login" style="text-align: center;">
                <h2 class="cabecalho-form">{% trans "Tudo Pronto!" %}</h2>
                <p style="color: white; margin-bottom: 25px;">{% trans "A tua palavra-passe foi alterada. Já podes entrar na tua conta." %}</p>
                <a href="{% url 'login' %}" class="botao-acao-principal" style="text-decoration: none; display: block;">{% trans "Entrar agora" %}</a>
            </div>
        </main>
    </div>
</body>
</html>