{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Nova Palavra-passe" %} | Protege+</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body class="view-autenticacao">
    <div class="wrapper-split">
        <main class="ala-principal-direita">
            <div class="modulo-login">
                <h2 class="cabecalho-form">{% trans "Nova Palavra-passe" %}</h2>
                
                {% if token_fail %}
                    <div class="notificacao-erro">O link expirou. <a href="{% url 'account_reset_password' %}">Pede um novo.</a></div>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        
                        <div class="custom-form-inputs">
                            {% for field in form %}
                                <div class="agrupamento-input" style="margin-bottom: 15px;">
                                    <label class="etiqueta-input" style="color: white; display: block; margin-bottom: 5px;">
                                        {{ field.label }}
                                    </label>
                                    
                                    {{ field }}

                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div style="color: #ff4d4d; font-size: 0.8rem; margin-top: 5px; font-weight: bold;">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        {% if form.non_field_errors %}
                            <div class="notificacao-erro" style="background: rgba(255,0,0,0.2); padding: 10px; border-radius: 5px; color: white; margin-bottom: 15px;">
                                {{ form.non_field_errors.0 }}
                            </div>
                        {% endif %}

                        <button type="submit" class="botao-acao-principal" style="margin-top: 10px;">
                            {% trans "Alterar Password" %} 
                        </button>
                    </form>
                {% endif %}
            </div>
        </main>
    </div>

    
</body>
</html>